<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Tv - Alev Alev Detail</title>
    <link rel="stylesheet" href="../../assets/css/pages/tv-series/alev-alev-detail.min.css">
</head>

<body>
    <div class="container">

        <div class="mega-menu">
            <div class="wrapper">
                <a href="../other/main-page.html" class="logo">
                    <img src="../../assets/images/logo/main-logo/show-tv.svg" alt="">
                </a>
                <ul class="list">
                    <li>
                        <a href="../other/search-page.html">
                            <i><img src="../../assets/images/icons/grey/search.svg" alt=""></i>
                            <span class="name">Ara</span>
                        </a>
                    </li>
                    <li>
                        <a href="../other/main-page.html">
                            <i><img src="../../assets/images/icons/grey/home.svg" alt=""></i>
                            <span class="name">Anasayfa</span>
                        </a>
                    </li>
                    <li>
                        <a href="./tv-series-page.html">
                            <i><img src="../../assets/images/icons/grey/series.svg" alt=""></i>
                            <span class="name">Diziler</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tv-programs/tv-programs-page.html">
                            <i><img src="../../assets/images/icons/grey/programs.svg" alt=""></i>
                            <span class="name">Programlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="../other/live-broadcast.html">
                            <i><img src="../../assets/images/icons/grey/live-broadcast.svg" alt=""></i>
                            <span class="name">Canlı Yayın</span>
                        </a>
                    </li>
                    <li>
                        <a href="../other/show-news.html">
                            <i><img src="../../assets/images/icons/grey/show-news.svg" alt=""></i>
                            <span class="name">Show Haber</span>
                        </a>
                    </li>
                    <li>
                        <a href="../other/live-streaming.html">
                            <i><img src="../../assets/images/icons/grey/streaming.svg" alt=""></i>
                            <span class="name">Yayın Akışı</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content"
            style="background-image: url('../../assets/images/dummy/series/16x9/large/alev-alev-1.png')">
            <div class="wrapper">
                <img class="logo" src="../../assets/images/logo/series-logo/alevalev.png" alt="">
                <div class="title">
                    <span>DİZİ</span>
                    <span>ALTYAZILI</span>
                    <span>18+</span>
                </div>
                <div class="description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took…
                </div>

                <ul class="list">
                    <li>
                        <a href="#">
                            <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                            <span class="name">SON BÖLÜM</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                            <span class="name episodes" data-count="20 BÖLÜM">BÖLÜMLER</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                            <span class="name">FRAGMANLAR</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                            <span class="name">ÖNE ÇIKANLAR</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                            <span class="name">SAHNELER</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                            <span class="name">HİKAYE VE OYUNCULAR</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>