<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Tv - Live Broadcast</title>
    <link rel="stylesheet" href="../../assets/css/pages/other/live-broadcast.min.css">
</head>
<body>

    <div class="container">

        <div class="mega-menu">
            <div class="wrapper">
                <a href="./main-page.html" class="logo">
                    <img src="../../assets/images/logo/main-logo/show-tv.svg" alt="">
                </a>
                <ul class="list">
                    <li>
                        <a href="./search-page.html">
                            <i><img src="../../assets/images/icons/grey/search.svg" alt=""></i>
                            <span class="name">Ara</span>
                        </a>
                    </li>
                    <li>
                        <a href="./main-page.html">
                            <i><img src="../../assets/images/icons/grey/home.svg" alt=""></i>
                            <span class="name">Anasayfa</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tv-series/tv-series-page.html">
                            <i><img src="../../assets/images/icons/grey/series.svg" alt=""></i>
                            <span class="name">Diziler</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tv-programs/tv-programs-page.html">
                            <i><img src="../../assets/images/icons/grey/programs.svg" alt=""></i>
                            <span class="name">Programlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="./live-broadcast.html">
                            <i><img src="../../assets/images/icons/grey/live-broadcast.svg" alt=""></i>
                            <span class="name">Canlı Yayın</span>
                        </a>
                    </li>
                    <li>
                        <a href="./show-news.html">
                            <i><img src="../../assets/images/icons/grey/show-news.svg" alt=""></i>
                            <span class="name">Show Haber</span>
                        </a>
                    </li>
                    <li>
                        <a href="./live-streaming.html">
                            <i><img src="../../assets/images/icons/grey/streaming.svg" alt=""></i>
                            <span class="name">Yayın Akışı</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
    <script src="../../assets/js/vendors/swiper/swiper-7.3.1.min.js"></script>
    <script src="../../assets/js/pages/minify/other/live-broadcast.min.js"></script>
</body>
</html>