<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Tv - Live Streaming</title>
    <link rel="stylesheet" href="../../assets/css/pages/other/live-streaming.min.css">
</head>

<body>

    <div class="container">

        <div class="mega-menu">
            <div class="wrapper">
                <a href="./main-page.html" class="logo">
                    <img src="../../assets/images/logo/main-logo/show-tv.svg" alt="">
                </a>
                <ul class="list">
                    <li>
                        <a href="./search-page.html">
                            <i><img src="../../assets/images/icons/grey/search.svg" alt=""></i>
                            <span class="name">Ara</span>
                        </a>
                    </li>
                    <li>
                        <a href="./main-page.html">
                            <i><img src="../../assets/images/icons/grey/home.svg" alt=""></i>
                            <span class="name">Anasayfa</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tv-series/tv-series-page.html">
                            <i><img src="../../assets/images/icons/grey/series.svg" alt=""></i>
                            <span class="name">Diziler</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tv-programs/tv-programs-page.html">
                            <i><img src="../../assets/images/icons/grey/programs.svg" alt=""></i>
                            <span class="name">Programlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="./live-broadcast.html">
                            <i><img src="../../assets/images/icons/grey/live-broadcast.svg" alt=""></i>
                            <span class="name">Canlı Yayın</span>
                        </a>
                    </li>
                    <li>
                        <a href="./show-news.html">
                            <i><img src="../../assets/images/icons/grey/show-news.svg" alt=""></i>
                            <span class="name">Show Haber</span>
                        </a>
                    </li>
                    <li>
                        <a href="./live-streaming.html">
                            <i><img src="../../assets/images/icons/grey/streaming.svg" alt=""></i>
                            <span class="name">Yayın Akışı</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content">
            <div class="wrapper">

                <div class="left">
                    <ul class="list">
                        <li>
                            <a href="#">
                                <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                                <span class="day">PAZARTESİ</span>
                                <span class="date">1 Mart</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                                <span class="day">SALI</span>
                                <span class="date">2 Mart</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                                <span class="day">ÇARŞAMBA</span>
                                <span class="date">3 Mart</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                                <span class="day">PERŞEMBE</span>
                                <span class="date">4 Mart</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                                <span class="day">CUMA</span>
                                <span class="date">5 Mart</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                                <span class="day">CUMARTESİ</span>
                                <span class="date">6 Mart</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i><img src="../../assets/images/icons/grey/circle.svg" alt=""></i>
                                <span class="day">PAZAR</span>
                                <span class="date">7 Mart</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="right">
                    <div class="live-stream-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster"
                                            src="../../assets/images/dummy/programs/16x9/small/kadin-isterse.png"
                                            alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">06:00</div>
                                        <div class="title">Kadın İsterse</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster"
                                            src="../../assets/images/dummy/programs/1x2/small/pazar-surprizi.png"
                                            alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">08:30</div>
                                        <div class="title">Pazar Süprizi</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster"
                                            src="../../assets/images/dummy/programs/1x2/small/didem-arslan-yilmazla-vazgecme.png"
                                            alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">10:00</div>
                                        <div class="title">Didem Arslan Yılmaz’la Vazgeçme</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster"
                                            src="../../assets/images/dummy/programs/1x2/small/lezzet-akademisi.png"
                                            alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">11:45</div>
                                        <div class="title">Turgay Başyayla ile Lezzet Yolculuğu</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster"
                                            src="../../assets/images/dummy/programs/1x2/small/cocuktan-al-haberi.png"
                                            alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">14:00</div>
                                        <div class="title">Çocuktan Al Haberi</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster" src="../../assets/images/dummy/series/16x9/small/ramo1.png"
                                            alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">20:00</div>
                                        <div class="title">Ramo</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster"
                                            src="../../assets/images/dummy/series/16x9/small/alev-alev-1.png" alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">00:15</div>
                                        <div class="title">Alev Alev</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster"
                                            src="../../assets/images/dummy/series/16x9/small/cukur-1.png" alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">02:15</div>
                                        <div class="title">Çukur</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                                <div class="swiper-slide">
                                    <div class="images">
                                        <img class="poster" src="../../assets/images/dummy/series/16x9/small/ariza.png"
                                            alt="">
                                    </div>
                                    <span class="detail">
                                        <div class="time">04:30</div>
                                        <div class="title">Arıza</div>
                                        <div class="status">Tekrar</div>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../../assets/js/vendors/swiper/swiper-7.3.1.min.js"></script>
    <script src="../../assets/js/pages/minify/other/live-streaming.min.js"></script>
</body>

</html>