<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Tv - Main Page</title>
    <link rel="stylesheet" href="../../assets/css/pages/other/main-page.min.css">

</head>

<body>
    <div class="container">

        <div class="mega-menu">
            <div class="wrapper">
                <a href="./main-page.html" class="logo">
                    <img src="../../assets/images/logo/main-logo/show-tv.svg" alt="">
                </a>
                <ul class="list">
                    <li>
                        <a href="./search-page.html">
                            <i><img src="../../assets/images/icons/grey/search.svg" alt=""></i>
                            <span class="name">Ara</span>
                        </a>
                    </li>
                    <li>
                        <a href="./main-page.html">
                            <i><img src="../../assets/images/icons/grey/home.svg" alt=""></i>
                            <span class="name">Anasayfa</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tv-series/tv-series-page.html">
                            <i><img src="../../assets/images/icons/grey/series.svg" alt=""></i>
                            <span class="name">Diziler</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tv-programs/tv-programs-page.html">
                            <i><img src="../../assets/images/icons/grey/programs.svg" alt=""></i>
                            <span class="name">Programlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="./live-broadcast.html">
                            <i><img src="../../assets/images/icons/grey/live-broadcast.svg" alt=""></i>
                            <span class="name">Canlı Yayın</span>
                        </a>
                    </li>
                    <li>
                        <a href="./show-news.html">
                            <i><img src="../../assets/images/icons/grey/show-news.svg" alt=""></i>
                            <span class="name">Show Haber</span>
                        </a>
                    </li>
                    <li>
                        <a href="./live-streaming.html">
                            <i><img src="../../assets/images/icons/grey/streaming.svg" alt=""></i>
                            <span class="name">Yayın Akışı</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content">

            <div class="main-slider">

                <div class="top">
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/alev-alev-1.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/alevalev.png" alt="">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/cukur-1.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/cukur.png" alt="">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/ramo-2.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/ariza.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/ariza.png" alt="">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/kuzey-yildizi.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/kuzey-yildizi.png" alt="">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/cukur-1.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/cukur.png" alt="">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/ramo-1.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/ariza.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/ariza.png" alt="">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/kuzey-yildizi.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/kuzey-yildizi.png" alt="">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/series/16x9/large/cukur-1.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/cukur.png" alt="">
                                    <div class="title">
                                        <span>DİZİ</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="../tv-series/tv-series-episodes.html">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="../tv-series/tv-series-detail.html">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="thumb">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/alev-alev-2.png" alt="">
                                    <img class="logo" src="../../assets/images/logo/series-logo/alevalev.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/cukur-1.png" alt="">
                                    <img class="logo" src="../../assets/images/logo/series-logo/cukur.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/ramo-2.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/ariza.png" alt="">
                                    <img class="logo" src="../../assets/images/logo/series-logo/ariza.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/kuzey-yildizi.png" alt="">
                                    <img class="logo" src="../../assets/images/logo/series-logo/kuzey-yildizi.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/cukur-1.png" alt="">
                                    <img class="logo" src="../../assets/images/logo/series-logo/cukur.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/ramo1.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/ariza.png" alt="">
                                    <img class="logo" src="../../assets/images/logo/series-logo/ariza.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/kuzey-yildizi.png" alt="">
                                    <img class="logo" src="../../assets/images/logo/series-logo/kuzey-yildizi.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-16x9">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/series/16x9/small/cukur-1.png" alt="">
                                    <img class="logo" src="../../assets/images/logo/series-logo/cukur.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="trailer">
                <div class="title">Fragmanlar</div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/16x9/small/guldur-guldur.png" alt="">
                                <img class="logo" src="../../assets/images/logo/series-logo/guldur-guldur-show.png" alt="">
                            </div>
                            <div class="serie">Güldür Güldür Show</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/16x9/small/alev-alev-3.png" alt="">
                                <img class="logo" src="../../assets/images/logo/series-logo/alevalev.png" alt="">
                            </div>
                            <div class="serie">Alev Alev</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/16x9/small/kadin-isterse.png" alt="">
                                <img class="logo" src="" alt="">
                            </div>
                            <div class="serie">Kadın İsterse</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/16x9/small/cukur-2.png" alt="">
                                <img class="logo" src="../../assets/images/logo/series-logo/cukur.png" alt="">
                            </div>
                            <div class="serie">Çukur</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/16x9/small/kuzey-yildizi.png" alt="">
                                <img class="logo" src="../../assets/images/logo/series-logo/kuzey-yildizi.png" alt="">
                            </div>
                            <div class="serie">Kuzey Yıldızı ile Aşk</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/16x9/small/ariza.png" alt="">
                                <img class="logo" src="../../assets/images/logo/series-logo/ariza.png" alt="">
                            </div>
                            <div class="serie">Arıza</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/16x9/small/ramo1.png" alt="">
                                <img class="logo" src="" alt="">
                            </div>
                            <div class="serie">Ramo</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/16x9/small/cukur-2.png" alt="">
                                <img class="logo" src="../../assets/images/logo/series-logo/cukur.png" alt="">
                            </div>
                            <div class="serie">Çukur</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/16x9/small/alev-alev-3.png" alt="">
                                <img class="logo" src="../../assets/images/logo/series-logo/alevalev.png" alt="">
                            </div>
                            <div class="serie">Alev</div>
                            <div class="episodi">10. Bölüm</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="series">
                <div class="title">Diziler</div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/1x2/small/ramo.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/1x2/small/kuzey-yildizi-ilk-ask.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/1x2/small/alev-alev-1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/1x2/small/kirmizi-kamyon.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/1x2/small/ariza.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/1x2/small/cukur.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/1x2/small/ramo.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/series/1x2/small/kuzey-yildizi-ilk-ask.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-series">
                                <div class="text">
                                    <a href="../tv-series/tv-series-page.html">TÜM DİZİLER</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="programs">
                <div class="title">Programlar</div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/guldur-guldur.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/cumartesi-surprizi.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/ebru-akelle-kadin-isterse.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/cocuktan-al-haberi.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/pazar-surprizi.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/didem-arslan-yilmazla-vazgecme.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/bir-sansim-olsa.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/dr-ender-sarac-ile-saglikli-gunler.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="all-programs">
                                <div class="text">
                                    <a href="../tv-programs/tv-programs-page.html">TÜM PROGRAMLAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../assets/js/vendors/swiper/swiper-7.3.1.min.js"></script>
    <script src="../../assets/js/pages/minify/other/main-page.min.js"></script>
</body>

</html>