<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Tv - Programs Page</title>
    <link rel="stylesheet" href="../../assets/css/pages/tv-programs/tv-programs-page.min.css">
</head>
<body>

    <div class="container">

        <div class="mega-menu">
            <div class="wrapper">
                <a href="../other/main-page.html" class="logo">
                    <img src="../../assets/images/logo/main-logo/show-tv.svg" alt="">
                </a>
                <ul class="list">
                    <li>
                        <a href="../other/search-page.html">
                            <i><img src="../../assets/images/icons/grey/search.svg" alt=""></i>
                            <span class="name">Ara</span>
                        </a>
                    </li>
                    <li>
                        <a href="../other/main-page.html">
                            <i><img src="../../assets/images/icons/grey/home.svg" alt=""></i>
                            <span class="name">Anasayfa</span>
                        </a>
                    </li>
                    <li>
                        <a href="../tv-series/tv-series-page.html">
                            <i><img src="../../assets/images/icons/grey/series.svg" alt=""></i>
                            <span class="name">Diziler</span>
                        </a>
                    </li>
                    <li>
                        <a href="./tv-programs-page.html">
                            <i><img src="../../assets/images/icons/grey/programs.svg" alt=""></i>
                            <span class="name">Programlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="../other/live-broadcast.html">
                            <i><img src="../../assets/images/icons/grey/live-broadcast.svg" alt=""></i>
                            <span class="name">Canlı Yayın</span>
                        </a>
                    </li>
                    <li>
                        <a href="../other/show-news.html">
                            <i><img src="../../assets/images/icons/grey/show-news.svg" alt=""></i>
                            <span class="name">Show Haber</span>
                        </a>
                    </li>
                    <li>
                        <a href="../other/live-streaming.html">
                            <i><img src="../../assets/images/icons/grey/streaming.svg" alt=""></i>
                            <span class="name">Yayın Akışı</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="content">

            <div class="main-slider">

                <div class="top">
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/guldur-guldur.png')">
                                <div class="wrapper">
                                    <img class="logo" src="../../assets/images/logo/series-logo/guldur-guldur-show.png" alt="">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/cumartesi-surprizi.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/didem-arslan-yilmazla-vazgecme.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/ebru-akelle-kadin-isterse.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>       

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/pazar-surprizi.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/cocuktan-al-haberi.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/bir-sansim-olsa.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/dr-ender-sarac-ile-saglikli-gunler.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/didem-arslan-yilmazla-vazgecme.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="swiper-slide"  style="background-image: url('../../assets/images/dummy/programs/1x2/large/ebru-akelle-kadin-isterse.png')">
                                <div class="wrapper">
                                    <div class="title">
                                        <span>PROGRAM</span>
                                        <span>ALTYAZILI</span>
                                        <span>18+</span>
                                    </div>
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took…
                                    </div>
                                    <span class="buttons">
                                        <div class="play-btn">
                                            <a href="#">
                                                <i><img src="../../assets/images/icons/white/play.svg" alt=""></i>
                                                <span class="name">İZLE</span>
                                            </a>
                                        </div>
                                        <div class="detail-btn">
                                            <a href="#">
                                                <span class="name">DETAYLAR</span>
                                            </a>
                                        </div>
                                    </span>
                                </div>
                            </div>  
                            
                        </div>
                    </div>
                </div>
                

                <div class="thumb">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/guldur-guldur.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/cumartesi-surprizi.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/didem-arslan-yilmazla-vazgecme.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/ebru-akelle-kadin-isterse.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/pazar-surprizi.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/cocuktan-al-haberi.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/bir-sansim-olsa.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/dr-ender-sarac-ile-saglikli-gunler.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/didem-arslan-yilmazla-vazgecme.png" alt="">
                                </div>
                            </div>
                            <!-- items -->
                            <div class="swiper-slide ratio-1x1-5">
                                <div class="images">
                                    <img class="poster" src="../../assets/images/dummy/programs/1x2/small/ebru-akelle-kadin-isterse.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="archive-programs">
                <div class="title">Arşiv Programlar</div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/hayat-guzeldir.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/oyku-gurman-ile-gunun-yemegi.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/kuaforum-sensin.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/pelin-karahanla-nefis-tarifler.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/evrim-akin-ile-ev-kusu.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/lezzet-akademisi.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/evleneceksen-gel.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/asumanla-sevgili-dunurum.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy/programs/1x2/small/cocuktan-al-haberi.png" alt="">
                            </div>
                        </div>
                        <!-- items -->
                        <div class="swiper-slide">
                            <div class="images">
                                <img class="poster" src="../../assets/images/dummy//programs/1x2/small/hayat-guzeldir.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <script src="../../assets/js/vendors/swiper/swiper-7.3.1.min.js"></script>
    <script src="../../assets/js/pages/minify/tv-programs/tv-programs-page.min.js"></script>
</body>
</html>