@import "../../base/reset";
@import "../../base/fonts";
@import "../../base/variables";
@import "../../companents/mega-menu";
@import "../../companents/layout";

.content {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.8);
    }

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;

        .left {
            width: 50%;
            padding: 100px 20px;

            .logo {
                height: 60px;
            }

            .title {
                padding-left: 10px;
                color: var(--white-color);
                font-size: 24px;

                span {
                    padding-right: 20px;
                    line-height: 3;
                }
            }

            .description {
                padding-left: 10px;
                line-height: 1.4;
                margin-bottom: 30px;
                font-size: 24px;
                color: var(--grey-color);
            }

            .list {
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    padding-left: 20px;
                    height: 60px;
                    display: flex;
                    align-items: center;

                    &:hover {
                        border: 3px solid var(--white-color);
                        border-radius: 50px;
                        transition-delay: .2s;

                        a {
                            width: 100%;
                            position: relative;

                            i {
                                img {
                                    content: url("../../../images/icons/white/filled-circle.svg");
                                }
                            }

                            .name {
                                color: var(--white-color);
                            }
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;

                        i {
                            display: flex;
                            align-items: center;

                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }

                        .name {
                            color: var(--grey-color);
                            font-size: 32px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        .right {
            width: 50%;
            padding: 100px 20px;

            .list {
                list-style: none;
                padding: 0 100px;

                li {
                    font-size: 24px;
                    line-height: 1.5;
                    color: var(--white-color);
                }

                .title {
                    padding-top: 20px;
                    color: var(--grey-color);

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }

}